.avatar_container {
    position: absolute;
}

.avatar_image {
    background-color: rgba(125, 197, 202, 0.32);
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.avatar_image img {
    width: 100%;
    height: 100%;
}

.user_info {
    display: inline-block;
    padding-left: 20px;
}

.text-box {
    text-align: center;
}